body{  /*General*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: azure;
}

/*navegacion, enlaces y listas*/
nav{
    background-color: darkslateblue;
    border-radius: 0.5em;
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    color: white;
    display: block;
    line-height: 2em;
    padding: 0.5em 0.5em;
    text-decoration: none;
}

nav a:hover{
    color: lightskyblue;
}

/*Contenedores*/
#conteiner{
    width: 95%;
    margin: 1em auto;
    border-radius: 0.5em;
    background:blueviolet;
}

.playlist {
    height: 30em;
}

#div-izq{
    width: 70%;
    float:left;
    margin: 1em auto;
    border-radius: 0.5em;
    background: springgreen;
}

#div-der{
    width: 30%;
    float:right;
    margin: 1em auto;
    border-radius: 0.5em;
    background: lightsalmon;
}