body{  /*General*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: azure;
}

/*navegacion, enlaces y listas*/
nav[id="main-nav"]{
    background-color: darkslateblue;
    border-radius: 0.5em;
}

nav[id="main-nav"] ul[id="ban-list"] li[class="op_list"] {
    display: inline-block;
}

nav[id="main-nav"] ul[id="ban-list"] li[class="op_list"] a{
    color: white;
    display: block;
    line-height: 2em;
    padding: 0.5em 0.5em;
    text-decoration: none;
}

nav[id="main-nav"] a:hover{
    color: lightskyblue;
}

/*Contenedores*/
#conteiner{
    width: 95%;
    margin: 1em auto;
    border-radius: 0.5em;
    background:blueviolet;
}

.playlist {
    height: 31.5em;
}

#div-izq{
    width: 70%;
    float:left;
    margin: 1em auto;
    border-radius: 0.5em;
    /*background: springgreen;*/
    background:blueviolet;
}

#div-der{
    width: 30%;
    float:right;
    margin: 1em auto;
    border-radius: 0.5em;
    /*background: lightsalmon;*/
    background: darkslateblue;
    overflow: auto;
}

.img-min {
    height: 3.6em;
    width: 5em;
}

li {
    list-style-type: none;
}

#nav-playlist {
    text-align: left;
    margin-left: -2.5em;
}

.cont-videoop {
    padding: 1em;
}

.cont-videoop:hover {
    background-color: lightslategrey;
}

.mini-desc-video:hover{
    background-color: lightslategrey;
}

#title-playlist {
    text-align: center;
    background-color: lightslategrey;
    padding: 1.5em;
}



.mini-desc-video {
    float: right;
    /*background-color:teal;*/
    /*background: darkslateblue;*/
    /*color: white;*/
}

video {
    height: 25em;
    width: 100%;
}

img[id="img-inicio"] {
    height: 24em;
    width: 92%;
}

#div-video {
    text-align: center;
}

p[class="title-mini-desc"] {
    text-transform: uppercase;
    /*color: blue;*/
    color: wheat;
}

p[class="desc-mini-desc"] {
    font-size: .7em;
}

#desc-video {
    padding: 15px;
    overflow: auto;
    /*background-color: chocolate;*/
    background: sandybrown;
    height: 4.5em;
}

#pie-pagina {
    text-align: center;
}

.iconimg {
    height: 25px;
    width: 25px;
}

  /*.div-icon-play {
  background-color: darkgreen;
}*/

.mini-desc-nombre{
    text-align: center;
    /*background-color:teal;*/
    background: darkslateblue;
    color: white;
}

p[class="nombre"] {
    text-align: center;
    text-transform: uppercase;
    /*color: blue;*/
    color: wheat;
}